force-app/main/default/flows/Screen_Flow_BACS_Recurring_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Validate the collected Bank Details using FinDock Bank Detail Checker</description>
        <name>Check_Bank_Details</name>
        <label>Check Bank Details</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>paybacs__SortCodeBankAccountInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Are_Account_Details_Valid</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bankAccount</name>
            <value>
                <elementReference>Collect_Account_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortCode</name>
            <value>
                <elementReference>Collect_Sort_Code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>paybacs__SortCodeBankAccountInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>This step is there in case you are choose to split your flow to create different types of Recurring Donations (i.e. Card Payments, SEPA etc)</description>
        <name>Set_BACS_details_to_variables</name>
        <label>Save BACS details to variables</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Account_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Account_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sort_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Sort_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Account_Holder_Name_BACS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PP_Record_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Profile_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Payment_Processor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaymentHub-BACS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Target</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BACS Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_current_details</name>
        <label>Store current details</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Sort_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Sort_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collect_Account_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Bank_Account_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Monthly</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Quarterly</name>
        <choiceText>Quarterly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quarterly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Weekly</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Account_Details_Valid</name>
        <label>Are Account Details Valid?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Store_current_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Bank_Details.isValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Profile_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create an NPSP Recurring Donation with FinDock Payment Profile and Mandate for BACS Manual.</description>
    <environments>Default</environments>
    <formulas>
        <name>DayofMonth</name>
        <dataType>Number</dataType>
        <expression>DAY({!Start_Date})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RD_Link</name>
        <dataType>String</dataType>
        <expression>&quot;/&quot;&amp;{!Create_Recurring_Donation}</expression>
    </formulas>
    <interviewLabel>Screen Flow - BACS Recurring Direct Debit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - BACS Recurring Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a BACS Payment Profile with the details previously collected</description>
        <name>Create_Payment_Profile</name>
        <label>Create Payment Profile</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Create_Recurring_Donation</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PP_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Valid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Bank_Account__c</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>cpm__Holder_Name__c</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>paybacs__Sort_Code__c</field>
            <value>
                <elementReference>Sort_Code</elementReference>
            </value>
        </inputAssignments>
        <object>cpm__Payment_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the NPSP Recurring Donation</description>
        <name>Create_Recurring_Donation</name>
        <label>Create Recurring Donation</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Recurring_Donation_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Recurring Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Date_Established__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Installment_Period__c</field>
            <value>
                <elementReference>Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Installments__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe03__Recurring_Donation_Campaign__c</field>
            <value>
                <elementReference>Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp4hub__Payment_Method__c</field>
            <value>
                <stringValue>Direct Debit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp4hub__Payment_Processor__c</field>
            <value>
                <elementReference>Payment_Processor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp4hub__Payment_Profile__c</field>
            <value>
                <elementReference>Create_Payment_Profile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp4hub__Target__c</field>
            <value>
                <elementReference>Target</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Day_of_Month__c</field>
            <value>
                <elementReference>DayofMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the full contact record from the ID.</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Recurring_Donation_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Profile_Record_Type</name>
        <label>Get Payment Profile Record Type</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_BACS_details_to_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>cpm__Payment_Profile__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bank_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>paybacs</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Bank_Account_Details</name>
        <label>Bank Account Details</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Bank_Details</targetReference>
        </connector>
        <fields>
            <name>Collect_Sort_Code</name>
            <dataType>String</dataType>
            <fieldText>Sort Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Collect_Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Collect_Account_Holder_Name_BACS</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_Record.Name</elementReference>
            </defaultValue>
            <fieldText>Account Holder Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountDetailsValidationMessageError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;{!Check_Bank_Details.message}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Validate &amp; Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_Recurring_Donation_Info</name>
        <label>Collect Recurring Donation Info</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Bank_Account_Details</targetReference>
        </connector>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Campaign</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CampaignId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Frequency</name>
            <choiceReferences>Weekly</choiceReferences>
            <choiceReferences>Monthly</choiceReferences>
            <choiceReferences>Quarterly</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Monthly</defaultSelectedChoiceReference>
            <fieldText>Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recurring_Donation_Created</name>
        <label>Recurring Donation Created</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Your new &lt;/strong&gt;&lt;a href=&quot;{!RD_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Recurring Donation&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; has now been successfully set up.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankDetailsErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Processor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PP_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sort_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Target</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
